@import url(base.css);
@import url(media.css);
@import url(options.css);
@import url(typebase.css);
@import url(components.css);

:root[data-theme="dark"] {
    --co-primary: hsla(317, 100%, 50%, 1);
    --co-primary-content: hsl(289 100% 4%);
    --co-secondary: hsla(120, 100%, 38%, 1);
    --co-secondary-content: #000e00;
    --co-accent: #008600;
    --co-accent-content: #d3e7d1;
    --co-neutral: #15030a;
    --co-neutral-content: #cbc5c7;
    --co-bg-200: hsla(41, 20%, 16%, 1);
    --co-bg-100: hsla(43, 21%, 11%, 1);
    --co-bg: hsla(40, 22%, 9%, 1);
    --co-bg-o-50: hsla(40, 22%, 9%, 0.5);
    --co-bg-o-70: hsla(40, 22%, 9%, 0.7);
    --co-bg-content: hsl(45 4% 81%);
    --co-bg-content-o-50: hsla(45, 4%, 81%, 0.5);
    --co-bg-content-o-70: hsla(45, 4%, 81%, 0.7);
    --co-info: #00a8ff;
    --co-info-content: #000a16;
    --co-success: #00c876;
    --co-success-content: #000f05;
    --co-warning: #a88700;
    --co-warning-content: #0a0600;
    --co-error: #ff4d56;
    --co-error-content: #160202;
}

:root[data-theme="light"] {
    --co-primary: hsl(317 100% 50%);
    --co-primary-content: hsl(327 100% 4%);
    --co-secondary: hsl(120 100% 38%);
    --co-secondary-content: #001601;
    --co-accent: #7f3700;
    --co-accent-content: #e7d5cc;
    --co-neutral: #090b0f;
    --co-neutral-content: hsl(210 2% 78%);
    --co-bg: hsl(180 100% 95%);
    --co-bg-o-50: hsla(180, 100%, 95%, 0.5);
    --co-bg-o-70: hsla(180, 100%, 95%, 0.7);
    --co-bg-content: hsl(180 10% 8%);
    --co-bg-content-o-50: hsla(180, 10%, 8%, 0.5);
    --co-bg-content-o-70: hsla(180, 10%, 8%, 0.7);
    --co-bg-100: hsl(180 27% 82%);
    --co-bg-200: hsl(180 14% 70%);
    --co-info: #00cbea;
    --co-info-content: #000f13;
    --co-success: #008637;
    --co-success-content: #d3e7d6;
    --co-warning: #fdb600;
    --co-warning-content: #160c00;
    --co-error: #ff3063;
    --co-error-content: #160103;
}

:root {
    --linear-gd-x: linear-gradient(90deg, var(--co-bg), var(--co-bg-200), var(--co-bg));
    --bs-secondary: 0px 0px 12px 5px var(--co-secondary);
    --bs-primary: 0px 0px 12px 5px var(--co-primary);
    --bs-success: 0px 0px 12px 5px var(--co-success);
    --bs-accent: 0px 0px 12px 5px var(--co-accent);
    --section-title-mb-fs: 1.35rem;
    --section-title-tl-fs: 1.5rem;
    --section-title-fw: 700;
    --pd-container: 1rem;
    --nav-list-w: 90px;
    --navbar-h: 70px;
    --br-base: 1rem;
}

/* ---------------------|
|         Html          |
|--------------------- */
/* ---------------------|
|         Body          |
|--------------------- */
body {
    background-color: var(--co-bg);
    color: var(--co-bg-content);
}

/* ---------------------|
|         Header        |
|--------------------- */
header {
    background-color: var(--co-bg-o-50);
    backdrop-filter: blur(15px);
    position: fixed;
    z-index: 999;
    width: 100%;
    left: 0;
    top: 0;
}

/* --- Navbar --- */
.navbar {
    justify-content: space-between;
    height: var(--navbar-h);
    align-items: center;
    display: flex;
}

.navbar .logo {
    transition: color .2s ease-in;
    text-transform: uppercase;
    align-items: center;
    font-weight: 800;
    column-gap: 1rem;
    padding: 0.5rem;
    display: flex;
    height: 100%;
}

.navbar .logo:hover {
    transition: color .3s ease-out;
    color: var(--co-secondary);
    backdrop-filter: blur(10%);
}

.navbar .logo img {
    height: 100%;
    width: auto;
}

.navbar ul {
    align-items: center;
    column-gap: 2rem;
    display: none;
    height: 100%;

    li {
        height: 100%;
    }

    li a {
        column-gap: .25rem;
        align-items: center;
        position: relative;
        display: flex;
        height: 100%;
    }

    li a::after {
        transition: all 0.2s ease-in;
        background-color: transparent;
        border-radius: 20px;
        position: absolute;
        display: flex;
        content: '';
        height: 3px;
        width: 100%;
        bottom: 0;
    }

    li a:active::after,
    li a:hover::after {
        transition: all 0.3s ease-out;
        background-color: var(--co-secondary);
        box-shadow: var(--bs-secondary);
    }

    li a.active::after {
        transition: background-color .3s ease-out;
        background-color: var(--co-primary);
        box-shadow: var(--bs-primary);
    }
}

.toggle-mobile-menu {
    width: var(--navbar-h);
    height: var(--navbar-h);
    place-items: center;
    display: grid;
}

/* ---------------------|
|          Hero         |
|--------------------- */
.hero {
    padding-top: var(--navbar-h);
    min-height: 100vh;
}

.hero-container {
    flex-direction: column;
    display: flex;
}

.chan-dung {
    padding: var(--pd-container);

    img {
        object-position: center;
        object-fit: cover;
        height: auto;
        width: 100%;
    }
}

.hero-content h2 {
    text-transform: uppercase;
    color: var(--co-primary);
    padding-top: .5rem;
    font-size: 1.75rem;
    line-height: 1.25;

    span {
        color: var(--co-secondary);
    }
}

.hero-content p {
    padding-top: .5rem;
    display: flex;
}

.section-title {
    font-size: var(--section-title-mb-fs);
    color: var(--co-bg-content);
    padding: 2.5rem 0;
    cursor: pointer;

    i {
        background-color: var(--co-accent);
        color: var(--co-accent-content);
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        margin-right: 1rem;
        font-weight: 500;
        padding: .25rem;
    }
}

.lists-software {
    background-color: var(--co-bg-200);
    justify-content: space-between;
    align-items: center;
    border-radius: var(--br-base);
    flex-wrap: wrap;
    padding: var(--pd-container);
    display: flex;
    gap: 1.5rem;
}

.lists-software .software {
    border-radius: var(--br-base);
    flex-direction: column;
    align-items: center;
    display: flex;

    img {
        height: 64px;
        width: 64px;
        object-fit: cover;
        border-radius: var(--br-base);
    }

    p {
        margin-top: .5rem;
        font-size: .85rem;
    }
}

h4.sub-title {
    text-transform: uppercase;
    font-size: 1.05rem;
    font-weight: 600;
    cursor: pointer;
}

h4.dam-nhiem {
    margin: 1rem 0;
}

.quan-diem {
    h4.phan-mem-do-hoa {
        margin-top: 1rem;
    }

    p {
        background-color: var(--co-bg-200);
        border-radius: var(--br-base);
        word-break: break-word;
        text-align: justify;
        margin-top: 0.5rem;
        text-wrap: pretty;
        padding: var(--pd-container);

        b {
            color: var(--co-accent);
        }

        strong {
            color: var(--co-info);
        }
    }
}

.cong-viec {
    margin-top: 1rem;
}

.cv-imgs {
    flex-direction: column;
    display: flex;
    gap: 2rem 0;
}

figure.img {
    flex-direction: column;
    row-gap: .75rem;
    display: flex;
}

figure.img figcaption {
    color: var(--co-bg-content-o-70);
    text-align: center;
    font-size: .75rem;
}

.cv-imgs .img a {
    border: 1px solid var(--co-bg-200);
    background-color: var(--co-bg-100);
    border-radius: var(--br-base);
    overflow: hidden;
    height: 240px;
    width: 100%;

    img {
        object-position: center;
        object-fit: cover;
        width: 100%;
    }
}

/* ---------------------|
|         About         |
|--------------------- */
ul.nv-trong-du-an,
ul.tu-gioi-thieu {
    list-style-type: disc;
    list-style-position: inside;

    li {
        margin-top: .75rem;
    }

    li:first-child {
        margin-top: 0;
    }
}

ul.tu-gioi-thieu {
    background-color: var(--co-success);
    color: var(--co-success-content);
    border-radius: var(--br-base);
    padding: var(--pd-container);
}

/* ---------------------|
|         Footer        |
|--------------------- */
footer {
    margin-top: 2rem;
}

footer::before {
    background-image: var(--linear-gd-x);
    display: flex;
    content: '';
    width: 100%;
    height: 3px;
}

.footer-contact {
    justify-content: start;
    flex-direction: column;
    align-items: start;
    padding-bottom: 2rem;
    padding-top: 2rem;
    display: flex;
    gap: 2rem 0;

    img {
        height: calc(var(--navbar-h) * 1.5);
        width: auto;
    }

    .footer-right {
        flex-direction: column;
        display: flex;
        gap: 2rem 0;
    }

    .footer-right>h3 {
        font-style: italic;
        font-weight: 600;
    }

    .footer-right .thong-tin h3,
    .footer-right h3 {
        text-transform: uppercase;
        font-size: 1.15rem;
        font-weight: 600;
        cursor: pointer;
    }

    .footer-right .thong-tin h3 {
        margin-bottom: 1rem;
        font-size: 1.75rem;
        font-weight: 800;
    }

    .footer-right .thong-tin p {
        align-items: center;
        font-size: .95rem;
        column-gap: 1rem;
        display: flex;
    }
}

footer .copyright {
    background-color: var(--co-bg-100);
    pad: 1.15rem 0;
}

.float-navbar {
    padding-left: 1rem;
    display: none;
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;

    nav {
        flex-direction: column;
        display: flex;
        row-gap: 1rem;

        a {
            transition: all 0.2s ease-in;
            box-shadow: 0px 0px 10px 0px hsl(0 0% 0% / 30%);
            background-color: var(--co-bg-200);
            place-items: center;
            border-radius: 50%;
            display: grid;
            height: 2.25rem;
            width: 2.25rem;
        }

        a:hover {
            transition: all 0.3s ease-out;
            background-color: var(--co-secondary);
            color: var(--co-secondary-content);
            box-shadow: var(--bs-secondary);
            transform: scale(1.15);
        }
    }
}

/* ---------------------|
|         H         |
|--------------------- */

.hover\:bs-neon-primary {
    transition: all 0.2s ease-in;
    box-shadow: 0px 0px 10px 0px hsl(0 0% 0% / 30%);
}

.hover\:bs-neon-primary:hover {
    box-shadow: var(--bs-primary);
    transition: all 0.3s ease-out;
}

.hover\:bs-neon-secondary {
    transition: all 0.2s ease-in;
    box-shadow: 0px 0px 10px 0px hsl(0 0% 0% / 30%);
}

.hover\:bs-neon-secondary:hover {
    box-shadow: var(--bs-secondary);
    transition: all 0.3s ease-out;
}

.hover\:bs-neon-accent {
    transition: all 0.2s ease-in;
    box-shadow: 0px 0px 10px 0px hsl(0 0% 0% / 30%);
}

.hover\:bs-neon-accent:hover {
    box-shadow: var(--bs-accent);
    transition: all 0.3s ease-out;
}

.hover\:bs-neon-success {
    transition: all 0.2s ease-in;
    box-shadow: 0px 0px 10px 0px hsl(0 0% 0% / 30%);
}

.hover\:bs-neon-success:hover {
    box-shadow: var(--bs-success);
    transition: all 0.3s ease-out;
    background-color: var(--co-bg);
    color: var(--co-bg-content);
}

/* ---------------------|
|         Media         |
|--------------------- */
@media (min-width: 768px) {
    .hero-container {
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
    }

    .chan-dung {
        padding: 0;
        width: 50%;

        img {
            transform: scaleX(-1);
        }
    }

    .navbar ul {
        display: flex;
    }

    .toggle-mobile-menu {
        display: none;
    }

    .section-title {
        font-size: var(--section-title-tl-fs);
    }

    .cv-imgs {
        grid-template-columns: repeat(2, 1fr);
        display: grid;
        gap: 0 2rem;
    }

    .footer-contact {
        justify-content: space-between;
        flex-direction: row;

        .footer-right {
            flex-direction: row;
            column-gap: 2rem;
        }
    }

    .float-navbar {
        place-items: center;
        padding-left: 1rem;
        display: grid;
    }
}
