@import url(base.css);
@import url(media.css);
@import url(options.css);
@import url(typebase.css);
@import url(components.css);

:root[data-theme="dark"] {
    --co-primary: hsla(317, 100%, 50%, 1);
    --co-primary-content: #120016;
    --co-secondary: hsla(120, 100%, 38%, 1);
    --co-secondary-content: #000e00;
    --co-accent: #008500;
    --co-accent-content: #d3e7d1;
    --co-neutral: #15030a;
    --co-neutral-content: #cbc5c7;
    --co-bg-200: hsla(41, 20%, 16%, 1);
    --co-bg-100: hsla(43, 21%, 11%, 1);
    --co-bg: hsla(40, 22%, 9%, 1);
    --co-bg-o-50: hsla(40, 22%, 9%, .5);
    --co-bg-content: #d1d0cd;
    --co-info: #00a8ff;
    --co-info-content: #000a16;
    --co-success: #00c876;
    --co-success-content: #000f05;
    --co-warning: #a88700;
    --co-warning-content: #0a0600;
    --co-error: #ff4d56;
    --co-error-content: #160202;
}

:root[data-theme="light"] {
    --co-primary: hsl(317 100% 50%);
    --co-primary-content: hsl(327 100% 4%);
    --co-secondary: hsl(120 100% 38%);
    --co-secondary-content: #001601;
    --co-accent: #7f3700;
    --co-accent-content: #e7d5cc;
    --co-neutral: #090b0f;
    --co-neutral-content: #c6c7c8;
    --co-bg: hsl(180 100% 95%);
    --co-bg-o-50: hsla(180, 100%, 95%, .5);
    --co-bg-content: hsl(180 10% 8%);
    --co-bg-100: hsl(180 27% 82%);
    --co-bg-200: hsl(180 14% 70%);
    --co-info: #00cbea;
    --co-info-content: #000f13;
    --co-success: #008637;
    --co-success-content: #d3e7d6;
    --co-warning: #fdb600;
    --co-warning-content: #160c00;
    --co-error: #ff3063;
    --co-error-content: #160103;
}

:root {
    --section-title-mb-fs: 1.25rem;
    --section-title-tl-fs: 2.025rem;
    --section-title-fw: 700;
    --nav-list-w: 90px;
    --navbar-h: 70px;
}

/* ---------------------|
|         Html          |
|--------------------- */

/* ---------------------|
|         Body          |
|--------------------- */
body {
    background-color: var(--co-bg);
    color: var(--co-bg-content);
}

/* ---------------------|
|         Header        |
|--------------------- */

header {
    background-color: var(--co-bg-o-50);
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}

/* --- Navbar --- */
.navbar {
    justify-content: space-between;
    height: var(--navbar-h);
    align-items: center;
    display: flex;
}

.navbar .logo {
    height: 100%;
    padding: 0.5rem;
}

.navbar .logo img {
    width: auto;
    height: 100%;
}

.navbar ul {
    display: none;
    column-gap: 2rem;
    align-items: center;

    li a {
        display: flex;
        column-gap: .25rem;
        align-items: center;
    }
}

.toggle-mobile-menu {
    width: var(--navbar-h);
    height: var(--navbar-h);
    place-items: center;
    display: grid;
}

/* ---------------------|
|          Hero         |
|--------------------- */

.hero {
    min-height: 100vh;
    padding-top: var(--navbar-h);
}

.hero-content {
    /* flex-direction: column; */
    /* align-items: center; */
    /* display: flex; */
}

.hero-container .chan-dung {
    /* flex-direction: column; */
    /* align-items: center; */
    /* display: flex; */
    height: 260px;

    img {
        object-position: center;
        object-fit: cover;
        height: 100%;
        width: auto;
    }
}

.hero-content h2 {
    color: var(--co-primary);
    text-transform: uppercase;
    padding-top: .75rem;
    font-size: 1.75rem;

    span {
        color: var(--co-secondary);
    }

}

.hero-content p {
    padding-top: .5rem;
    display: flex;
}

.sothich-phanmem {
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.section-title {
    font-size: var(--section-title-mb-fs);
    color: var(--co-bg-content);
}


.lists-software {
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    flex-wrap: wrap;
    display: flex;
    gap: 1rem;
}

.lists-software .software {

    background-color: var(--co-bg-200);
    border-radius: 1rem;
    height: 64px;
    width: 64px;

    img {

        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
    }
}

/* ---------------------|
|         Media         |
|--------------------- */

@media (min-width: 640px) {
    .chandung {
        width: 50%;
    }

    .navbar ul {
        display: flex;
    }

    .toggle-mobile-menu {
        display: none;
    }

    .section-title {
        font-size: var(--section-title-tl-fs);
    }

    .lists-software {
        justify-content: start;
    }
}
