@import url(base.css);
@import url(media.css);
@import url(options.css);
@import url(typebase.css);
@import url(components.css);

:root[data-theme="dark"] {
    --co-primary: hsla(317, 100%, 50%, 1);
    --co-primary-content: #120016;
    --co-secondary: hsla(120, 100%, 38%, 1);
    --co-secondary-content: #000e00;
    --co-accent: #008600;
    --co-accent-content: #d3e7d1;
    --co-neutral: #15030a;
    --co-neutral-content: #cbc5c7;
    --co-bg-200: hsla(41, 20%, 16%, 1);
    --co-bg-100: hsla(43, 21%, 11%, 1);
    --co-bg: hsla(40, 22%, 9%, 1);
    --co-bg-o-50: hsla(40, 22%, 9%, .5);
    --co-bg-content: #d1d0cd;
    --co-info: #00a8ff;
    --co-info-content: #000a16;
    --co-success: #00c876;
    --co-success-content: #000f05;
    --co-warning: #a88700;
    --co-warning-content: #0a0600;
    --co-error: #ff4d56;
    --co-error-content: #160202;
}
:root[data-theme="light"] {
    --co-primary: hsl(317 100% 50%);
    --co-primary-content: hsl(327 100% 4%);
    --co-secondary: hsl(120 100% 38%);
    --co-secondary-content: #001601;
    --co-accent: #7f3700;
    --co-accent-content: #e7d5cc;
    --co-neutral: #090b0f;
    --co-neutral-content: #c6c7c8;
    --co-bg: hsl(180 100% 95%);
    --co-bg-o-50: hsla(180, 100%, 95%, .5);
    --co-bg-content: hsl(180 10% 8%);
    --co-bg-100: hsl(180 27% 82%);
    --co-bg-200: hsl(180 14% 70%);
    --co-info: #00cbea;
    --co-info-content: #000f13;
    --co-success: #008637;
    --co-success-content: #d3e7d6;
    --co-warning: #fdb600;
    --co-warning-content: #160c00;
    --co-error: #ff3063;
    --co-error-content: #160103;
}
:root {
    --section-title-mb-fs: 1.35rem;
    --section-title-tl-fs: 1.5rem;
    --section-title-fw: 700;
    --nav-list-w: 90px;
    --navbar-h: 70px;
    --linear-gd-x: linear-gradient(90deg, var(--co-bg), var(--co-bg-200), var(--co-bg));
}
/* ---------------------|
|         Html          |
|--------------------- */
/* ---------------------|
|         Body          |
|--------------------- */
body {
    background-color: var(--co-bg);
    color: var(--co-bg-content);
}
/* ---------------------|
|         Header        |
|--------------------- */
header {
    background-color: var(--co-bg-o-50);
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}
/* --- Navbar --- */
.navbar {
    justify-content: space-between;
    height: var(--navbar-h);
    align-items: center;
    display: flex;
}
.navbar .logo {
    height: 100%;
    padding: 0.5rem;
}
.navbar .logo img {
    width: auto;
    height: 100%;
}
.navbar ul {
    display: none;
    column-gap: 2rem;
    align-items: center;
    li a {
        display: flex;
        column-gap: .25rem;
        align-items: center;
    }
}
.toggle-mobile-menu {
    width: var(--navbar-h);
    height: var(--navbar-h);
    place-items: center;
    display: grid;
}
/* ---------------------|
|          Hero         |
|--------------------- */
.hero {
    min-height: 100vh;
    padding-top: var(--navbar-h);
}
/* .hero-content { */
/* } */
.hero-container .chan-dung {
    height: 260px;
    img {
        object-position: center;
        object-fit: cover;
        height: 100%;
        width: auto;
    }
}
.hero-content h2 {
    color: var(--co-primary);
    text-transform: uppercase;
    padding-top: .5rem;
    font-size: 1.75rem;
    line-height: 1.25;
    span {
        color: var(--co-secondary);
    }
}
.hero-content p {
    padding-top: .5rem;
    display: flex;
}
.section-title {
    font-size: var(--section-title-mb-fs);
    color: var(--co-bg-content);
    padding: 2rem 0;
}
.lists-software {
    background-color: var(--co-bg-200);
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    flex-wrap: wrap;
    padding: 1rem;
    display: flex;
    gap: 1.5rem;
}
.lists-software .software {
    border-radius: 1rem;
    flex-direction: column;
    align-items: center;
    display: flex;
    img {
        height: 64px;
        width: 64px;
        object-fit: cover;
        border-radius: 1rem;
    }
    p {
        margin-top: .5rem;
        font-size: .85rem;
    }
}

h4.sub-title {
    text-transform: uppercase;
    font-size: 1.05rem;   
    font-weight: 600;
}
.quan-diem {
    h4.phan-mem-do-hoa {
        margin-top: 1rem;
    }
    p {
        text-align: justify;
       margin-top: 0.5rem; 
       word-wrap: pretty;
       b {
           color: var(--co-accent);
       }
       strong {
           color: var(--co-info);
       }
    }
}

.cv-imgs {
    flex-direction: column;
    display: flex;
    gap: 2rem 0;
}
.cv-imgs .img {
    flex-direction: column;
    row-gap: 1rem;
    display: flex;
}
.cv-imgs .img a {
    border: 1px solid var(--co-bg-200);
    background-color: var(--co-bg-100);
    border-radius: 1rem;
    overflow: hidden;
    height: 240px;
    width: 100%;
    img {
        object-position: center;
        object-fit: cover;
        width: 100%;
    }
}
/* ---------------------|
|         About         |
|--------------------- */
ul.tu-gioi-thieu {
    list-style-type: disc;
    list-style-position: inside;
    li {
        margin-top: .75rem;
    }
}
/* ---------------------|
|         Footer        |
|--------------------- */
footer {
    margin-top: 2rem;
}
footer::before {
    background-image: var(--linear-gd-x);
    display: flex;
    content: '';
    width: 100%;
    height: 3px;
} 
.footer-contact {
    justify-content: start;
    flex-direction: column;
    align-items: start;
    padding-bottom: 2rem;
    padding-top: 2rem;
    display: flex;
    gap: 2rem 0;
   img {
       height: calc(var(--navbar-h) * 1.5);
       width: auto;
   } 
   .footer-right {
       flex-direction: column;
       display: flex;
       gap: 2rem 0;
   }
   .footer-right .thong-tin h3,
   .footer-right h3 {
       text-transform: uppercase;
       font-weight: 600;
       font-size: 1.15rem;
   }
   .footer-right .thong-tin h3 {
       margin-bottom: 1rem;
       font-size: 1.75rem;
       font-weight: 800;
   }
   .footer-right .thong-tin p {
       align-items: center;
       font-size: .95rem;
       column-gap: 1rem;
       display: flex;
   }
}
footer .copyright {
    background-color: var(--co-bg-100);
    pad: 1.15rem 0;
}
/* ---------------------|
|         Media         |
|--------------------- */
@media (min-width: 640px) {
    .chandung {
        width: 50%;
    }
    .navbar ul {
        display: flex;
    }
    .toggle-mobile-menu {
        display: none;
    }
    .section-title {
        font-size: var(--section-title-tl-fs);
    }
    .footer-contact {
        flex-direction: row;
       .footer-right {
           display: row;
       }
    }
}
